.product {
  width: 160px;
  height: 260px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.productImg {
  position: relative;
  width: 130px;
  height: 60px;
  overflow: hidden;
  background-color: #f2f2f2;
  flex: 1;
}
.productImg img {
  width: 100%;
  height: 100%;
}
.product h2 {
  font-size: 15px;
  margin: 4px;
}
.product h3 {
  font-size: 14px;
}
.wishlistBtn {
  position: absolute;
  right: 7px;
  top: 7px;
  background-color: white;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.wishlistBtn:hover {
  box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.4);
}
